<!doctype html>
<html lang='zh-cn'>
<head>
<meta charset='utf-8'>
<!-- <meta name="viewport" content="width=1240, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
<link rel="stylesheet" href="css/bootstrap.min.css" >
<link rel='stylesheet' type='text/css' href='css/admin.css'>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link href="css/sweetalert.css" rel="stylesheet">
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<title>华北电力大学学生选课系统</title>
</head>
<body>
    <div class="jumbotron">
        <img src='images/main.jpg'/>
    </div>
    <div id='main_full'>
        <div id='main_page'>
            <div id='left_list'>
                <div class="list-group">
                    <a href="/admin_course" class="list-group-item list-group-item-success">课程号查询</a>
                    <a href="/admin_student" class="list-group-item list-group-item-success">学号查询</a>
                    <a href="/admin_insert_teacher" class="list-group-item list-group-item-info">添加教师</a>
                    <a href="/admin_insert_course" class="list-group-item list-group-item-info">添加课程</a>
                    <a href="/admin_delete_course" class="list-group-item list-group-item-warning">删除课程</a>
                    <a href="/admin_xinxixiugai" class="list-group-item list-group-item-warning">修改个人信息</a>
                    <a href="/" class="list-group-item list-group-item-danger">退出登录</a>
                </div>
            </div>
            <div id='xiugai_page'>
                <div class="clear"></div>
                <input id='class_id' type="text" class="form-control input-lg" name="id" value="" placeholder="课程号" >
                <input id='class_name' type="text" class="form-control input-lg" name="name" value="" placeholder="课程名" >
                <input id='class_score' type="text" class="form-control input-lg" name="score" value="" placeholder="学分">
                <input id='class_time' type="text" class="form-control input-lg" name="time" value="" placeholder="上课时间">
                <input id='class_room' type="text" class="form-control input-lg" name="classroom" value="" placeholder="上课教室">
                <input id='class_teacher' type="text" class="form-control input-lg" name="teacher" value="" placeholder="上课教师">
                <button id='save_success' type="submit" class="btn btn-success btn-lg btn-block" role="button"><b>添加</b></button>
            </div>

        </div>
    </div>
<script src='jq/jquery-3.1.1.min.js'></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/index.js"></script>
<script src='js/underscore-noflect.js'></script>


<script>

    $('#save_success').click(function(){
        $.post('/admin_course',{
            'class_id':$('#class_id').val(),
            "class_name" : $("#class_name").val(),
            'class_score':$('#class_score').val(),
            'class_time':$('#class_time').val(),
            'class_room':$('#class_room').val(),
            'class_teacher':$('#class_teacher').val()
        },function(result){
            if(result==1){
                swal("恭喜!", "添加课程成功!", "success");
                $('.confirm').click(function(){
                    window.location.href = "/admin_insert_course";
                })
            }else{
                swal({
                    title: "Error!",
                    text: "课程号已存在",
                    type: "error",
                    confirmButtonText: "Cool"
			    });
            }
        })
    })

    //清除session
    $('.list-group-item-danger').click(function(){
        $.post('/clear_session')
    })
</script>

</body>
</html>