<!doctype html>
<html lang='zh-cn'>
<head>
<meta charset='utf-8'>
<!-- <meta name="viewport" content="width=1240, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
<link rel="stylesheet" href="css/bootstrap.min.css" >
<link rel='stylesheet' type='text/css' href='css/index.css'>
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<title>华北电力大学学生选课系统</title>
</head>
<body>
	<div id='head'>
			<div class="jumbotron">
				<img src='images/top.png'/>
				<div id='topic'>华北电力大学学生选课系统</div>
				<div id='student_login' class="roll-mask">
					<a class='roll-button' href="/student_denglu">学生登录</a>
				</div>
				<div id='student_signup' class="roll-mask">
					<a class='roll-button' href="/student_zhuce">学生注册</a>
				</div>
				<div id='teacher_login' class="roll-mask">
					<a class='roll-button' href="/teacher_denglu">教师登录</a>
				</div>
				<div id='teacher_signup' class="roll-mask">
					<a class='roll-button' href="#">教师注册</a>
				</div>
				<div id='admin_login' class="roll-mask">
					<a class='roll-button' href="/admin_denglu">管理员登录</a>
				</div>
				<div id='admin_signup' class="roll-mask">
					<a class='roll-button' href="#">管理员注册</a>
				</div>
			</div>
	</div>
	<div id='main'>
	</div>
	<div id='foot'>
	</div>
<script src='jq/jquery-3.1.1.min.js'></script>
<script src="js/bootstrap.min.js"></script>
<script src='js/index.js'></script>
</body>
</html>