<!doctype html>
<html lang='zh-cn'>
<head>
<meta charset='utf-8'>
<!-- <meta name="viewport" content="width=1240, initial-scale=0.5, maximum-scale=1.0, user-scalable=0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
<link rel="stylesheet" href="css/bootstrap.min.css" >
<link rel='stylesheet' type='text/css' href='css/student.css'>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link href="css/sweetalert.css" rel="stylesheet">
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<title>华北电力大学学生选课系统</title>
</head>
<body>
    <div class="jumbotron">
        <img src='images/main.jpg'/>
    </div>
    <div id='main_full'>
        <div id='main_page'>
            <div id='left_list'>
                <div class="list-group">
                    <a href="/student_xuanke" class="list-group-item list-group-item-success">学生选课</a>
                    <a href="/student_kecheng" class="list-group-item list-group-item-info">查看课程</a>
                    <a href="/student_xinxixiugai" class="list-group-item list-group-item-warning">修改个人信息</a>
                    <a href="/" class="list-group-item list-group-item-danger">退出登录</a>
                </div>
            </div>
            <div id='xuanke_page'>
                <div class="clear"></div>
                    <input id='class_id' type="text" class="form-control input-lg" name="class_id" value="" placeholder="请输入课程号">
                    <button id='xuanke_success' type="submit" class="btn btn-success btn-lg btn-block" role="button"><b>提交</b></button>
            </div>
            <table id='kecheng_yixuan' class="table table-striped">
                    <thead>
                        <tr>
                            <th>课程号</th>
                            <th>课程名</th>
                            <th>学分</th>
                            <th>上课时间</th>
                            <th>上课教室</th>
                            <th>上课老师</th>
                            <th>成绩</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id='student_all_course'>
                    </tbody>
                </table>
        </div>
    </div>
<script src='jq/jquery-3.1.1.min.js'></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/index.js"></script>
<script src='js/underscore-noflect.js'></script>

<script type="text/template" id="student_course">
        <tr>
            <td>{{= class_id    }}</td>
            <td>{{= class_name  }}</td>
            <td>{{= class_score }}</td>
            <td>{{= class_time  }}</td>
            <td>{{= class_room  }}</td>
            <td>{{= class_teacher  }}</td>
            <td>{{= score  }}</td>
            <td><i id='shanchu_course' class="fa fa-times" aria-hidden="true"></i></td>
         </tr>

         
    
</script>

<script>
    var student_all_course = $('#student_all_course');
    //得到模板
    var compiled = _.template($("#student_course").html());
    get_student_course();
    //AJAX读取课程列表
    function get_student_course() {
        $.post('/student_get_course',function (result) {
            for(var i = 0; i<result.allResult.length; i++){
                var htmlstring = compiled(result.allResult[i]);
                student_all_course.append(htmlstring);
            }
        });
    }

    $('#xuanke_success').click(function(){
        let class_id=$('#class_id').val();
        if(class_id==''){
            swal({
				title: "Error!",
				text: "请输入课程号",
				type: "error",
				confirmButtonText: "Cool"
			});
        }else{
            //先得到所有课程号，循环匹配所输入的课程号，如果存在，那么再插入
            $.post('/get_course',function (result) {
                for(var i = 0; i<result.allResult.length; i++){
                    if(class_id==result.allResult[i].class_id){
                        $.post('/student_insert_course',{
                            'class_id':class_id
                        },function(result){
                            if(result==1){
                                swal("恭喜!", "选课成功!", "success");
                                $('.confirm').click(function(){
                                    window.location.href = "/student_xuanke";
                                })
                            }else{
                                //如果选课重复，两个主键都相同
                                swal({
                                    title: "Error!",
                                    text: "课程已选",
                                    type: "error",
                                    confirmButtonText: "Cool"
                                });
                            }
                        })
                        var course_exist=1;
                    }
                }
                if(course_exist!=1){
                    swal({
                        title: "Error!",
                        text: "课程不存在",
                        type: "error",
                        confirmButtonText: "Cool"
                    });
                }
            });
        }
    })

    //清除session
    $('.list-group-item-danger').click(function(){
        $.post('/clear_session')
    })

    //删除课程
    $("#kecheng_yixuan").on("click","#shanchu_course", function() {
        let class_id=$(this).parent().prevAll('td:last').html();
        $.post('/student_delete_course',{
            'class_id':class_id
        },function(result){
            if(result==1){
                swal("恭喜!", "删除成功!", "success");
                $('.confirm').click(function(){
                    window.location.href = "/student_xuanke";
                })
            }
        })
    });

</script>

</body>
</html>